$card-aspect-ratio: 357 / 251;
$card-width: 357px;
$card-height: $card-width / $card-aspect-ratio;
$whitespace-height: $card-height * 0.5;

:host {
  display: block;

  .whitespace {
    background: #eee;
    height: $whitespace-height;
    width: $card-width;
  }

  .actual-card {
    box-sizing: border-box;
    border: gray 2px solid;
    border-radius: 8px;
    width: $card-width;
    height: $card-height;
  }
}
