@import "src/variables.scss"; // todo: Is this a relative path?

:host {
  display: block;

  .whitespace {
    background: #eee;
    height: $whitespace-height;
    width: $card-width;
  }

  .actual-card {
    box-sizing: border-box;
    border: gray 2px solid;
    border-radius: 8px;
    width: $card-width;
    height: $card-height;
  }
}
