@import "src/variables.scss";

:host {
  display: block;
  box-sizing: border-box;

  border: 2px solid black;
  background-image: url(src/assets/five-color.png);
  background-size: cover;
  height: $slot-height;
  width: $slot-width;
}
